{% block all %}<!doctype html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9 {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js {{bp_html_classes|default('')}}" lang="{{bp_language|default('en')}}" {{bp_html_attributes|default('')|raw}}> <!--<![endif]-->
  {% block head_outer %}
    <head {{bp_head_attributes|default('')|raw}}>
      {% block head %}
        {% block head_meta %}
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="description" content="{% block head_meta_description %}{% endblock %}">
          <meta name="keywords" content="{% block head_meta_keywords %}{% endblock %}">
          <meta name="viewport" content="width=device-width">
        {% endblock head_meta %}

        <title>{% block head_title %}{% endblock %}</title>

        {% block head_css %}
          {% stylesheets
            '@OryzoneBoilerplateBundle/Resources/public/css/normalize.css' 
            '@OryzoneBoilerplateBundle/Resources/public/css/main.css'
          %}
            <link rel="stylesheet"  href="{{ asset_url }}" >
          {% endstylesheets %}
        {% endblock %}

        {% block head_js %}
          {% javascripts '@OryzoneBoilerplateBundle/Resources/public/js/vendor/modernizr-2.6.2.min.js' %}
            <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
      {% endblock head %}
    </head>
  {% endblock head_outer %}
  {% block body_outer %}
    <body {{bp_body_attributes|default('')|raw}}>
      {%block body%}
        {% block body_chromeframe %}
          <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        {% endblock body_chromeframe %}
        {%block body_container%}
          <div id="container">
            <header>
              {% block body_container_header %}{% endblock %}
            </header>
            <div role="main">
              {% block body_container_main %}{% endblock %}
            </div>
            <footer>
              {% block body_container_footer %}{% endblock %}
            </footer>
          </div>
        {%endblock body_container%}
        {% block body_js %}
          {% block body_js_jquery %}<script src="{% block body_js_jquery_onlineSrc %}//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js{% endblock %}"></script>
            <script>window.jQuery || document.write('<script src="{% block body_js_jquery_offlineSrc %}{% javascripts '@OryzoneBoilerplateBundle/Resources/public/js/vendor/jquery-1.9.0.min.js' %}{{ asset_url }}{% endjavascripts %}{% endblock %}"><\/script>')</script>
          {% endblock body_js_jquery %}
          {% block body_js_analytics %}
            {% if bp_analytics_id is defined %}
            <script>
              var _gaq=[['_setAccount','{{ bp_analytics_id }}'],['_trackPageview']];
              (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            {% endif %}
          {% endblock body_js_analytics %}
        {% endblock body_js %}
      {% endblock body %}
    </body>
  {% endblock body_outer %}
</html>{% endblock all %}
